workflow n8n/Permohonan Izin Karyawan n8n.json
{
  "name": "Permohonan Izin Karyawan",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cbf3b4ee-6774-482b-8784-78a55b6d619a",
              "leftValue": "={{ $json['Status HR'] }}",
              "rightValue": "Disetujui",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -16,
        1696
      ],
      "id": "58119235-6254-4a6e-b368-62204dbd9489",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"Email Address\"] }}",
        "subject": "=Status Pengajuan Izin",
        "message": "=<div style=\"\n  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n  max-width: 600px;\n  margin: 0 auto;\n  border: 1px solid #e0e0e0;\n  border-radius: 8px;\n  overflow: hidden;\n  background-color: #ffffff;\n\">\n\n  <!-- Header -->\n  <div style=\"\n    background-color: #f8f9fa;\n    padding: 20px;\n    text-align: center;\n    border-bottom: 1px solid #e0e0e0;\n  \">\n    <h2 style=\"margin: 0; color: #333;\">\n      Update Status Pengajuan Izin\n    </h2>\n  </div>\n\n  <!-- Content -->\n  <div style=\"padding: 30px; line-height: 1.6; color: #444;\">\n\n    <p>\n      Halo <strong>{{ $json.Nama }}</strong>,\n    </p>\n\n    <p>\n      Terima kasih telah menunggu. Kami ingin menginformasikan bahwa\n      pengajuan Anda yang dikirim pada\n      <strong>{{ $json.Timestamp }}</strong>\n      telah selesai ditinjau oleh <strong>Atasan dan HR</strong>.\n    </p>\n\n    <!-- Divider -->\n    <div style=\"border-top: 1px solid #e0e0e0; margin: 25px 0;\"></div>\n\n    <!-- Status -->\n    <div style=\"\n      padding: 16px;\n      text-align: center;\n      border-radius: 6px;\n      background-color: {{ $json[\"Status HR\"] == \"Disetujui\" ? \"#d4edda\" : \"#f8d7da\" }};\n      color: {{ $json[\"Status HR\"] == \"Disetujui\" ? \"#155724\" : \"#721c24\" }};\n      font-size: 20px;\n      font-weight: bold;\n      border: 1px solid #e0e0e0;\n    \">\n      {{ $json[\"Status HR\"] }}\n    </div>\n\n    <!-- Divider -->\n    <div style=\"border-top: 1px solid #e0e0e0; margin: 25px 0;\"></div>\n\n    <!-- Detail -->\n    <table style=\"width: 100%; border-collapse: collapse;\">\n      <tr>\n        <td style=\"padding: 10px 0; color: #888; border-bottom: 1px solid #eee;\">\n          ID Form Pengajuan Izin\n        </td>\n        <td style=\"padding: 10px 0; text-align: right; font-weight: bold; border-bottom: 1px solid #eee;\">\n          {{ $json[\"ID Unik\"] }}\n        </td>\n      </tr>\n    </table>\n\n    <p style=\"margin-top: 20px; font-size: 14px; color: #666;\">\n      Silakan gunakan <strong>ID Form Pengajuan Izin</strong> di atas\n      untuk mengisi ID pada <strong>Form Realisasi</strong>.\n    </p>\n  </div>\n\n  <!-- Footer -->\n  <div style=\"\n    background-color: #f8f9fa;\n    padding: 15px;\n    text-align: center;\n    font-size: 12px;\n    color: #999;\n    border-top: 1px solid #e0e0e0;\n  \">\n    Jika Anda memiliki pertanyaan lebih lanjut,\n    silakan hubungi bagian HR.\n  </div>\n\n</div>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        1680
      ],
      "id": "62417d1e-f1e0-4f9e-9ed2-e5313f5b1644",
      "name": "Send a message3",
      "webhookId": "9a976c10-1fa1-4f61-9c07-0d25a17ad5aa",
      "credentials": {
        "gmailOAuth2": {
          "id": "1i57zt2Zt8e79q32",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=lukmannurhakim3130@gmail.com",
        "subject": "=[PERIZINAN] Pengajuan Baru dari {{ $json.Nama }}",
        "message": "=<div style=\"\n  font-family: 'Segoe UI', Arial, sans-serif;\n  max-width: 560px;\n  margin: 0 auto;\n  background-color: #ffffff;\n  color: #333;\n  line-height: 1.6;\n\">\n\n  <p>\n    Yth. Bapak/Ibu Atasan,\n  </p>\n\n  <p>\n    Berikut adalah pengajuan rencana izin karyawan untuk mendapatkan persetujuan:\n  </p>\n\n  <!-- DATA TABLE -->\n  <div style=\"\n    border: 1px solid #e0e0e0;\n    border-radius: 8px;\n    padding: 16px;\n    background-color: #fafafa;\n  \">\n    <table style=\"width: 100%; border-collapse: collapse; font-size: 14px;\">\n\n      <tr>\n        <td style=\"padding: 8px 0; color: #777; width: 35%;\">\n          Pemohon Izin\n        </td>\n        <td style=\"padding: 8px 0; font-weight: 600;\">\n          {{ $json[\"Nama\"] }} ({{ $json[\"NIK\"] }})\n        </td>\n      </tr>\n\n      <tr>\n        <td style=\"padding: 8px 0; color: #777;\">\n          Kategori\n        </td>\n        <td style=\"padding: 8px 0; font-weight: 600;\">\n          {{ $json[\"KATEGORI\"] }}\n        </td>\n      </tr>\n\n      <tr>\n        <td style=\"padding: 8px 0; color: #777;\">\n          Jenis Izin\n        </td>\n        <td style=\"padding: 8px 0; font-weight: 600;\">\n          {{ $json[\"Jenis Izin Resmi\"] }}\n        </td>\n      </tr>\n\n      <tr>\n        <td style=\"padding: 8px 0; color: #777;\">\n          Tanggal Izin\n        </td>\n        <td style=\"padding: 8px 0; font-weight: 600;\">\n          {{ $json[\"Tanggal Izin\"] }} – {{ $json[\"Sampai\"] }}\n        </td>\n      </tr>\n\n      <tr>\n        <td style=\"padding: 8px 0; color: #777;\">\n          Waktu\n        </td>\n        <td style=\"padding: 8px 0; font-weight: 600;\">\n          {{ $json[\"Jam Mulai\"] }} – {{ $json[\"Jam Selesai\"] }}\n        </td>\n      </tr>\n\n      <!-- KETERANGAN -->\n      <tr style=\"border-top: 1px solid #e0e0e0;\">\n        <td style=\"padding: 12px 0 6px; color: #777; vertical-align: top;\">\n          Keterangan\n        </td>\n        <td style=\"padding: 12px 0 6px; color: #555;\">\n          {{ $json[\"Keterangan\"] || \"Tidak ada keterangan tambahan\" }}\n        </td>\n      </tr>\n\n      <!-- LAMPIRAN -->\n      <tr>\n        <td style=\"padding: 6px 0; color: #777; vertical-align: top;\">\n          Lampiran\n        </td>\n        <td style=\"padding: 6px 0;\">\n          {{ $json[\"Lampiran\"] \n            ? '<a href=\"' + $json[\"Lampiran\"] + '\" target=\"_blank\" style=\"color:#1a73e8; text-decoration:none;\">Lihat Lampiran</a>' \n            : '<span style=\"color:#999;\">Tidak ada</span>' \n          }}\n        </td>\n      </tr>\n\n    </table>\n  </div>\n\n  <!-- ACTION -->\n  <div style=\"\n    margin-top: 28px;\n    padding-top: 20px;\n    border-top: 1px solid #e0e0e0;\n    text-align: center;\n  \">\n    <p style=\"margin-bottom: 16px;\">\n       Mohon kesediaan Bapak/Ibu untuk memberikan keputusan atas pengajuan ini.\n    </p>\n\n\n      <a href=\"https://script.google.com/macros/s/AKfycbwrjKUnJRnKO3xg8kVxkHQlcZ8lD0L9uaRv_oieQJsBUel6HFXLkElzrcTPUZpZyZGKCA/exec?id={{ $json['ID Unik'] }}&action=setuju&role=atasan\"\n         style=\"\n           background-color: #2e7d32;\n           color: #ffffff;\n           padding: 12px 32px;\n           text-decoration: none;\n           border-radius: 24px;\n           font-weight: 600;\n           display: inline-block;\n           margin-right: 12px;\n         \">\n        SETUJUI\n      </a>\n\n      <a href=\"https://script.google.com/macros/s/AKfycbwrjKUnJRnKO3xg8kVxkHQlcZ8lD0L9uaRv_oieQJsBUel6HFXLkElzrcTPUZpZyZGKCA/exec?id={{ $json['ID Unik'] }}&action=tolak&role=atasan\"\n         style=\"\n           background-color: #c62828;\n           color: #ffffff;\n           padding: 12px 32px;\n           text-decoration: none;\n           border-radius: 24px;\n           font-weight: 600;\n           display: inline-block;\n         \">\n        TOLAK\n      </a>\n    </div>\n\n    <p style=\"\n      font-size: 11px;\n      color: #999;\n      margin-top: 28px;\n      text-align: center;\n    \">\n      ID Form Pengajuan: {{ $json[\"ID Unik\"] }}\n    </p>\n\n <p style=\"\n      font-size: 11px;\n      color: #999;\n      margin-top: 28px;\n      text-align: center;\n    \">\n      <i>Sistem akan mengirimkan email notifikasi otomatis ke HR ketika tombol setuju diklik.</i>\n    </p>\n\n  </div>\n</div>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        880
      ],
      "id": "5d06308d-8c47-42e4-aa24-21a2eba3cb11",
      "name": "Send a message2",
      "webhookId": "a0a2bada-84a6-407a-af2b-f4bc3532ee02",
      "credentials": {
        "gmailOAuth2": {
          "id": "1i57zt2Zt8e79q32",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Konversi serial number Google Sheets / Excel ke Date object\nfunction excelToDate(value) {\n  if (value === null || value === undefined || value === '' || isNaN(value)) {\n    return null;\n  }\n  return new Date(Math.round((value - 25569) * 86400 * 1000));\n}\n\n// Format tanggal: DD/MM/YYYY\nfunction formatDate(date) {\n  return date.toLocaleDateString('id-ID');\n}\n\n// Format jam: HH:mm\nfunction formatTime(date) {\n  return date.toLocaleTimeString('id-ID', {\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false,\n  });\n}\n\n// Format timestamp: DD/MM/YYYY HH:mm:ss\nfunction formatTimestamp(date) {\n  return date.toLocaleString('id-ID', {\n    hour12: false,\n  });\n}\n\nreturn items.map(item => {\n  // === TANGGAL IZIN ===\n  const tglIzin = excelToDate(item.json[\"Tanggal Izin\"]);\n  if (tglIzin) {\n    item.json[\"Tanggal Izin\"] = formatDate(tglIzin);\n  }\n\n  // === SAMPAI ===\n  const sampai = excelToDate(item.json[\"Sampai\"]);\n  if (sampai) {\n    item.json[\"Sampai\"] = formatDate(sampai);\n  }\n\n  // === TIMESTAMP (tanggal + jam) ===\n  const timestamp = excelToDate(item.json[\"Timestamp\"]);\n  if (timestamp) {\n    item.json[\"Timestamp\"] = formatTimestamp(timestamp);\n  }\n\n  // === JAM MULAI ===\n  const jamMulai = excelToDate(item.json[\"Jam Mulai\"]);\n  if (jamMulai) {\n    item.json[\"Jam Mulai\"] = formatTime(jamMulai);\n  }\n\n  // === JAM SELESAI ===\n  const jamSelesai = excelToDate(item.json[\"Jam Selesai\"]);\n  if (jamSelesai) {\n    item.json[\"Jam Selesai\"] = formatTime(jamSelesai);\n  }\n\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        1312
      ],
      "id": "5c94beff-51c9-439a-9eb9-a6a16bea4c6c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6b93ffd6-4f43-41cc-90f4-415d696e302a",
              "leftValue": "={{ $json['Status Atasan'] }}",
              "rightValue": "Disetujui",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "6433480e-961d-43e0-b321-fd67f869348a",
              "leftValue": "={{ $json['Status HR'] }}",
              "rightValue": "Pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -16,
        1312
      ],
      "id": "47da7acb-676e-4d3d-b403-374469eaf230",
      "name": "If3"
    },
    {
      "parameters": {
        "sendTo": "=change3130@gmail.com",
        "subject": "=[PERIZINAN] Pengajuan Baru dari {{ $json.Nama }}",
        "message": "=<div style=\"\n  font-family: 'Segoe UI', Arial, sans-serif;\n  max-width: 560px;\n  margin: 0 auto;\n  background-color: #ffffff;\n  color: #333;\n  line-height: 1.6;\n\">\n\n  <p>\n    Yth. Bapak/Ibu <b>HR Department</b>,\n  </p>\n\n  <p>\n    Berikut adalah pengajuan rencana izin karyawan yang telah melewati tahap persetujuan oleh atasan dan memerlukan verifikasi akhir dari HR:\n  </p>\n\n  <div style=\"\n    border: 1px solid #e0e0e0;\n    border-radius: 8px;\n    padding: 16px;\n    background-color: #fafafa;\n  \">\n    <table style=\"width: 100%; border-collapse: collapse; font-size: 14px;\">\n\n      <tr>\n        <td style=\"padding: 8px 0; color: #777; width: 35%;\">\n          Pemohon Izin\n        </td>\n        <td style=\"padding: 8px 0; font-weight: 600;\">\n          {{ $json[\"Nama\"] }} ({{ $json[\"NIK\"] }})\n        </td>\n      </tr>\n\n      <tr>\n        <td style=\"padding: 8px 0; color: #777;\">\n          Kategori\n        </td>\n        <td style=\"padding: 8px 0; font-weight: 600;\">\n          {{ $json[\"KATEGORI\"] }}\n        </td>\n      </tr>\n\n      <tr>\n        <td style=\"padding: 8px 0; color: #777;\">\n          Jenis Izin\n        </td>\n        <td style=\"padding: 8px 0; font-weight: 600;\">\n          {{ $json[\"Jenis Izin Resmi\"] }}\n        </td>\n      </tr>\n\n      <tr>\n        <td style=\"padding: 8px 0; color: #777;\">\n          Tanggal Izin\n        </td>\n        <td style=\"padding: 8px 0; font-weight: 600;\">\n          {{ $json[\"Tanggal Izin\"] }} – {{ $json[\"Sampai\"] }}\n        </td>\n      </tr>\n\n      <tr>\n        <td style=\"padding: 8px 0; color: #777;\">\n          Waktu\n        </td>\n        <td style=\"padding: 8px 0; font-weight: 600;\">\n          {{ $json[\"Jam Mulai\"] }} – {{ $json[\"Jam Selesai\"] }}\n        </td>\n      </tr>\n\n      <tr style=\"border-top: 1px solid #e0e0e0;\">\n        <td style=\"padding: 12px 0 6px; color: #777; vertical-align: top;\">\n          Keterangan\n        </td>\n        <td style=\"padding: 12px 0 6px; color: #555;\">\n          {{ $json[\"Keterangan\"] || \"Tidak ada keterangan tambahan\" }}\n        </td>\n      </tr>\n\n      <tr>\n        <td style=\"padding: 6px 0; color: #777; vertical-align: top;\">\n          Lampiran\n        </td>\n        <td style=\"padding: 6px 0;\">\n          {{ $json[\"Lampiran\"] \n            ? '<a href=\"' + $json[\"Lampiran\"] + '\" target=\"_blank\" style=\"color:#1a73e8; text-decoration:none;\">Lihat Lampiran</a>' \n            : '<span style=\"color:#999;\">Tidak ada</span>' \n          }}\n        </td>\n      </tr>\n\n    </table>\n  </div>\n\n  <div style=\"\n    margin-top: 28px;\n    padding-top: 20px;\n    border-top: 1px solid #e0e0e0;\n    text-align: center;\n  \">\n    <p style=\"margin-bottom: 16px; font-weight: bold;\">\n        Keputusan HR (Verifikasi Akhir):\n    </p>\n\n      <a href=\"https://script.google.com/macros/s/AKfycbwrjKUnJRnKO3xg8kVxkHQlcZ8lD0L9uaRv_oieQJsBUel6HFXLkElzrcTPUZpZyZGKCA/exec?id={{ $json['ID Unik'] }}&action=setuju&role=hr\"\n         style=\"\n           background-color: #1976d2;\n           color: #ffffff;\n           padding: 12px 32px;\n           text-decoration: none;\n           border-radius: 24px;\n           font-weight: 600;\n           display: inline-block;\n           margin-right: 12px;\n         \">\n         VERIFIKASI\n      </a>\n\n      <a href=\"https://script.google.com/macros/s/AKfycbwrjKUnJRnKO3xg8kVxkHQlcZ8lD0L9uaRv_oieQJsBUel6HFXLkElzrcTPUZpZyZGKCA/exec?id={{ $json['ID Unik'] }}&action=tolak&role=hr\"\n         style=\"\n           background-color: #c62828;\n           color: #ffffff;\n           padding: 12px 32px;\n           text-decoration: none;\n           border-radius: 24px;\n           font-weight: 600;\n           display: inline-block;\n         \">\n        TOLAK\n      </a>\n    </div>\n\n    <p style=\"\n      font-size: 11px;\n      color: #999;\n      margin-top: 28px;\n      text-align: center;\n    \">\n      ID Form Pengajuan: {{ $json[\"ID Unik\"] }} <br>\n\n <p style=\"\n      font-size: 11px;\n      color: #999;\n      margin-top: 28px;\n      text-align: center;\n    \">\n      <i>Sistem akan mengirimkan email notifikasi otomatis ke karyawan setelah tombol diklik.</i>\n    </p>\n\n  </div>\n</div>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        224,
        1296
      ],
      "id": "fde5c45b-fe24-4355-9dd8-2e2175e02023",
      "name": "Send a message",
      "webhookId": "b6029cdb-5b05-4608-9c9e-8a6bbb6b9073",
      "credentials": {
        "gmailOAuth2": {
          "id": "1i57zt2Zt8e79q32",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Konversi serial number Google Sheets / Excel ke Date object\nfunction excelToDate(value) {\n  if (value === null || value === undefined || value === '' || isNaN(value)) {\n    return null;\n  }\n  return new Date(Math.round((value - 25569) * 86400 * 1000));\n}\n\n// Format tanggal: DD/MM/YYYY\nfunction formatDate(date) {\n  return date.toLocaleDateString('id-ID');\n}\n\n// Format jam: HH:mm\nfunction formatTime(date) {\n  return date.toLocaleTimeString('id-ID', {\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false,\n  });\n}\n\n// Format timestamp: DD/MM/YYYY HH:mm:ss\nfunction formatTimestamp(date) {\n  return date.toLocaleString('id-ID', {\n    hour12: false,\n  });\n}\n\nreturn items.map(item => {\n  // === TANGGAL IZIN ===\n  const tglIzin = excelToDate(item.json[\"Tanggal Izin\"]);\n  if (tglIzin) {\n    item.json[\"Tanggal Izin\"] = formatDate(tglIzin);\n  }\n\n  // === SAMPAI ===\n  const sampai = excelToDate(item.json[\"Sampai\"]);\n  if (sampai) {\n    item.json[\"Sampai\"] = formatDate(sampai);\n  }\n\n  // === TIMESTAMP (tanggal + jam) ===\n  const timestamp = excelToDate(item.json[\"Timestamp\"]);\n  if (timestamp) {\n    item.json[\"Timestamp\"] = formatTimestamp(timestamp);\n  }\n\n  // === JAM MULAI ===\n  const jamMulai = excelToDate(item.json[\"Jam Mulai\"]);\n  if (jamMulai) {\n    item.json[\"Jam Mulai\"] = formatTime(jamMulai);\n  }\n\n  // === JAM SELESAI ===\n  const jamSelesai = excelToDate(item.json[\"Jam Selesai\"]);\n  if (jamSelesai) {\n    item.json[\"Jam Selesai\"] = formatTime(jamSelesai);\n  }\n\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        1696
      ],
      "id": "b203d211-06a7-4f1f-b827-9419f07ec72d",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "chatId": "1523433510",
        "text": "=NOTIFIKASI REVIEW IZIN\n\nHalo, ada pengajuan izin baru dari {{ $json[\"Nama\"] }} ({{ $json[\"NIK\"] }}).\n\n📅 Tanggal: {{ $json[\"Tanggal Izin\"] }}\n⏰ Waktu: {{ $json[\"Jam Mulai\"] }} - {{ $json[\"Jam Selesai\"] }}\n📝 Keterangan: {{ $json[\"Keterangan\"] }}\n\nMohon segera cek email Anda untuk memberikan persetujuan. ",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        1056
      ],
      "id": "2a851016-655a-4a48-abaa-b3e2a6ff1fef",
      "name": "Send a text message",
      "webhookId": "31d5161f-4293-4431-b642-b15257bd16c9",
      "credentials": {
        "telegramApi": {
          "id": "3zttHV9UoVGFgR9B",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1rkTghHlQSyBHR2krcpkuW7nzqcclDUYbDt5VgcDybyw/edit?resourcekey=&gid=708921683#gid=708921683",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 708921683,
          "mode": "list",
          "cachedResultName": "Pengajuan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rkTghHlQSyBHR2krcpkuW7nzqcclDUYbDt5VgcDybyw/edit#gid=708921683"
        },
        "event": "rowUpdate",
        "options": {
          "columnsToWatch": [
            "Status HR"
          ]
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        1696
      ],
      "id": "fac76174-788c-4621-8a23-63db2f78aab5",
      "name": "Pemohon",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "mHDJ13EdT8AqEnJ1",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1rkTghHlQSyBHR2krcpkuW7nzqcclDUYbDt5VgcDybyw/edit?gid=708921683#gid=708921683",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 708921683,
          "mode": "list",
          "cachedResultName": "Pengajuan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rkTghHlQSyBHR2krcpkuW7nzqcclDUYbDt5VgcDybyw/edit#gid=708921683"
        },
        "event": "rowUpdate",
        "options": {
          "columnsToWatch": [
            "Status Atasan"
          ]
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        1312
      ],
      "id": "197b47ce-b8c8-4ebb-b300-54cdb5a880fc",
      "name": "HR",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "mHDJ13EdT8AqEnJ1",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1rkTghHlQSyBHR2krcpkuW7nzqcclDUYbDt5VgcDybyw/edit?resourcekey=&gid=708921683#gid=708921683",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 708921683,
          "mode": "list",
          "cachedResultName": "Pengajuan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rkTghHlQSyBHR2krcpkuW7nzqcclDUYbDt5VgcDybyw/edit#gid=708921683"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        880
      ],
      "id": "38ceff26-9c16-45fc-8017-389c838eb2ad",
      "name": "Atasan",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "mHDJ13EdT8AqEnJ1",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"Email Address\"] }}",
        "subject": "=Status Pengajuan Izin Anda: {{ $json['Status HR'] }}",
        "message": "=<div style=\"\n  font-family: Arial, Helvetica, sans-serif;\n  max-width: 600px;\n  margin: 0 auto;\n  color: #333;\n  line-height: 1.6;\n\">\n\n  <p>\n    Halo <strong>{{ $json.Nama }}</strong>,\n  </p>\n\n  <p>\n    Pengajuan yang Anda ajukan telah <strong>berhasil diproses</strong> dan saat ini\n    sedang <strong>menunggu persetujuan dari atasan dan HR</strong>.\n  </p>\n\n  <p>\n    Kami akan segera menginformasikan kepada Anda apabila terdapat\n    pembaruan status lebih lanjut.\n  </p>\n\n  <p>\n    Terima kasih atas perhatian dan kerja samanya.\n  </p>\n\n  <p style=\"margin-top: 30px;\">\n    Hormat kami,<br>\n    <strong>Tim HR</strong>\n  </p>\n\n</div>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        704
      ],
      "id": "647d4e52-98b9-4b24-b2f7-50fbac6df471",
      "name": "Send a message4",
      "webhookId": "5af032ab-7adc-416a-a61c-89f3e55b48d6",
      "credentials": {
        "gmailOAuth2": {
          "id": "1i57zt2Zt8e79q32",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1523433510",
        "text": "=<b>📄 Laporan Realisasi Izin</b>\n\n<b>Nama:</b> {{ $json.Nama }}\n<b>NIK:</b> {{ $json.NIK }}\n<b>ID Izin:</b> <code>{{ $json[\"ID Unik\"] }}</code>\n\n<b>Catatan:</b>\n{{ $json[\"Catatan Singkat\"] }}\n\n<a href=\"{{ $json.Bukti }}\">📎 Klik untuk Lihat Bukti Foto</a>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        2704
      ],
      "id": "269cc2cf-e2a3-4ef9-950d-a9abe7569ee9",
      "name": "Send a text message1",
      "webhookId": "115f436c-b806-41d1-868a-509c067896ad",
      "credentials": {
        "telegramApi": {
          "id": "3zttHV9UoVGFgR9B",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "change3130@gmail.com",
        "subject": "Realisasi",
        "message": "=<div style=\"\n  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;\n  max-width: 500px;\n  margin: 0 auto;\n  border: 1px solid #e0e0e0;\n  border-radius: 12px;\n  background-color: #ffffff;\n  color: #333;\n  overflow: hidden;\n  box-shadow: 0 4px 10px rgba(0,0,0,0.05);\n\">\n  <div style=\"background-color: #455a64; color: #ffffff; padding: 20px; text-align: center;\">\n    <span style=\"font-size: 24px;\">📝</span>\n    <h3 style=\"margin: 10px 0 0 0; font-size: 18px; letter-spacing: 1px;\">LAPORAN REALISASI IZIN</h3>\n  </div>\n\n  <div style=\"padding: 24px;\">\n    <table style=\"width: 100%; border-collapse: collapse; font-size: 14px;\">\n      <tr>\n        <td style=\"padding: 12px 0; color: #777; width: 30%; border-bottom: 1px solid #f0f0f0;\">Pemohon</td>\n        <td style=\"padding: 12px 0; font-weight: 600; color: #2c3e50; border-bottom: 1px solid #f0f0f0;\">\n          {{ $json[\"Nama\"] }} <span style=\"font-weight: 400; color: #7f8c8d;\">({{ $json[\"NIK\"] }})</span>\n        </td>\n      </tr>\n      \n      <tr>\n        <td style=\"padding: 12px 0; color: #777; border-bottom: 1px solid #f0f0f0; vertical-align: top;\">Catatan</td>\n        <td style=\"padding: 12px 0; color: #555; border-bottom: 1px solid #f0f0f0; line-height: 1.5;\">\n          {{ $json[\"Catatan Singkat\"] || \"<i>Tidak ada catatan tambahan</i>\" }}\n        </td>\n      </tr>\n\n      <tr>\n        <td style=\"padding: 12px 0; color: #777; border-bottom: 1px solid #f0f0f0;\">Lampiran</td>\n        <td style=\"padding: 12px 0; border-bottom: 1px solid #f0f0f0;\">\n          {{ $json[\"Bukti\"] \n            ? '<a href=\"' + $json[\"Bukti\"] + '\" target=\"_blank\" style=\"background-color: #1976d2; color: #ffffff; padding: 6px 12px; text-decoration: none; border-radius: 4px; font-size: 12px; display: inline-block;\">🔗 LIHAT BUKTI FOTO</a>' \n            : '<span style=\"color: #999; font-style: italic;\">Tidak ada lampiran</span>' \n          }}\n        </td>\n      </tr>\n    </table>\n\n    <div style=\"margin-top: 30px; padding-top: 15px; border-top: 1px solid #eee; text-align: center;\">\n      <p style=\"font-size: 11px; color: #999; margin: 0;\">\n        ID Referensi: <b style=\"color: #555;\">{{ $json['ID Unik'] }}</b>\n      </p>\n      <p style=\"font-size: 10px; color: #bbb; margin-top: 5px; text-transform: uppercase; letter-spacing: 1px;\">\n        Sistem Perizinan Otomatis\n      </p>\n    </div>\n  </div>\n</div>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        2512
      ],
      "id": "382c815d-93d4-4309-aedc-df9a28652a2e",
      "name": "Send a message1",
      "webhookId": "5b13897f-7299-4836-aaeb-b605a3863d45",
      "credentials": {
        "gmailOAuth2": {
          "id": "1i57zt2Zt8e79q32",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "lukmannurhakim3130@gmail.com",
        "subject": "=[PERIZINAN] Realisasi dari {{ $json.Nama }}",
        "message": "=<div style=\"\n  font-family: 'Segoe UI', Arial, sans-serif;\n  max-width: 500px;\n  margin: 0 auto;\n  border: 1px solid #e0e0e0;\n  border-radius: 12px;\n  background-color: #ffffff;\n  color: #333;\n  overflow: hidden;\n\">\n  <div style=\"background-color: #1976d2; color: #ffffff; padding: 15px; text-align: center;\">\n    <h3 style=\"margin: 0; font-size: 18px;\">Laporan Realisasi Izin</h3>\n  </div>\n\n  <div style=\"padding: 20px;\">\n    <table style=\"width: 100%; border-collapse: collapse; font-size: 14px;\">\n      <tr>\n        <td style=\"padding: 10px 0; color: #777; width: 35%; border-bottom: 1px solid #f0f0f0;\">Pemohon</td>\n        <td style=\"padding: 10px 0; font-weight: 600; border-bottom: 1px solid #f0f0f0;\">\n          {{ $json[\"Nama\"] }} ({{ $json[\"NIK\"] }})\n        </td>\n      </tr>\n      \n      <tr>\n        <td style=\"padding: 10px 0; color: #777; border-bottom: 1px solid #f0f0f0;\">Catatan</td>\n        <td style=\"padding: 10px 0; color: #555; border-bottom: 1px solid #f0f0f0;\">\n          {{ $json[\"Catatan Singkat\"] || \"Tidak ada catatan tambahan\" }}\n        </td>\n      </tr>\n\n      <tr>\n        <td style=\"padding: 10px 0; color: #777; border-bottom: 1px solid #f0f0f0;\">Bukti Foto</td>\n        <td style=\"padding: 10px 0; border-bottom: 1px solid #f0f0f0;\">\n          {{ $json[\"Bukti\"] \n            ? '<a href=\"' + $json[\"Bukti\"] + '\" target=\"_blank\" style=\"color: #1976d2; text-decoration: none; font-weight: 600;\">🔗 Lihat Lampiran Bukti</a>' \n            : '<span style=\"color: #999;\">Tidak ada lampiran</span>' \n          }}\n        </td>\n      </tr>\n    </table>\n\n    <div style=\"margin-top: 25px; text-align: center; border-top: 1px dashed #ddd; padding-top: 15px;\">\n      <p style=\"font-size: 11px; color: #999; margin: 0;\">\n        ID Form Pengajuan: <b>{{ $json['ID Unik'] }}</b><br>\n        Laporan ini diterbitkan secara otomatis oleh sistem.\n      </p>\n    </div>\n  </div>\n</div>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        2320
      ],
      "id": "6d162de6-6a3d-44bd-bfe5-187a843204ee",
      "name": "Send a message5",
      "webhookId": "60154294-bbd3-43e6-ba36-e2a077b0372f",
      "credentials": {
        "gmailOAuth2": {
          "id": "1i57zt2Zt8e79q32",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Realisasi').item.json['Email Address'] }}",
        "subject": "Realisasi Izin",
        "message": "=<div style=\"\n  font-family: 'Segoe UI', Arial, sans-serif;\n  max-width: 500px;\n  margin: 0 auto;\n  padding: 20px;\n  border: 1px solid #e0e0e0;\n  border-radius: 12px;\n  background-color: #ffffff;\n  color: #333;\n\">\n  <div style=\"text-align: center; margin-bottom: 20px;\">\n    <div style=\"display: inline-block; background-color: #e8f5e9; padding: 10px; border-radius: 50%;\">\n      <span style=\"font-size: 30px;\">✅</span>\n    </div>\n    <h2 style=\"color: #2e7d32; margin-top: 10px;\">Realisasi Berhasil Dicatat</h2>\n  </div>\n\n  <p>Halo <b>{{ $json.Nama }}</b>,</p>\n  \n  <p>Terima kasih, realisasi izin Anda untuk ID <b>{{ $json[\"ID Unik\"] }}</b> telah berhasil tercatat dalam sistem kami.</p>\n\n  <div style=\"\n    background-color: #f9f9f9;\n    padding: 15px;\n    border-radius: 8px;\n    margin: 20px 0;\n    font-size: 14px;\n  \">\n    <table style=\"width: 100%; border-collapse: collapse;\">\n      <tr>\n        <td style=\"color: #777; padding: 4px 0;\">Waktu Lapor</td>\n        <td style=\"font-weight: 600; text-align: right;\">{{ $json[\"Timestamp\"] }}</td>\n      </tr>\n      <tr>\n        <td style=\"color: #777; padding: 4px 0;\">Catatan</td>\n        <td style=\"font-weight: 600; text-align: right;\">{{ $json[\"Catatan Singkat\"] }}</td>\n      </tr>\n    </table>\n  </div>\n\n  <p style=\"text-align: center; font-size: 15px;\">\n    Terima kasih atas konfirmasi Anda 🙏\n  </p>\n\n  <p style=\"\n    font-size: 11px;\n    color: #999;\n    text-align: center;\n    margin-top: 30px;\n    border-top: 1px solid #eee;\n    padding-top: 15px;\n  \">\n    Email ini dikirim otomatis oleh Sistem Perizinan Karyawan.\n  </p>\n</div>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        2128
      ],
      "id": "36f4e55e-1a00-41b7-926b-cd1b561f3192",
      "name": "Send a message6",
      "webhookId": "75f91743-e3a9-4a8d-a099-be93147dfb2b",
      "credentials": {
        "gmailOAuth2": {
          "id": "1i57zt2Zt8e79q32",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1rkTghHlQSyBHR2krcpkuW7nzqcclDUYbDt5VgcDybyw/edit?resourcekey=&gid=151371822#gid=151371822",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 151371822,
          "mode": "list",
          "cachedResultName": "Realisasi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rkTghHlQSyBHR2krcpkuW7nzqcclDUYbDt5VgcDybyw/edit#gid=151371822"
        },
        "event": "rowAdded",
        "options": {
          "valueRender": "FORMATTED_VALUE"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -384,
        2144
      ],
      "id": "12449650-776b-4194-90c4-54bbef785b7c",
      "name": "Realisasi",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "mHDJ13EdT8AqEnJ1",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1rkTghHlQSyBHR2krcpkuW7nzqcclDUYbDt5VgcDybyw/edit?gid=708921683#gid=708921683",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 708921683,
          "mode": "list",
          "cachedResultName": "Pengajuan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rkTghHlQSyBHR2krcpkuW7nzqcclDUYbDt5VgcDybyw/edit#gid=708921683"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID Unik",
              "lookupValue": "={{ $json['ID Unik'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -176,
        2144
      ],
      "id": "c6654251-2118-4879-be52-654a3a300388",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zLMvsQO2RHZ3eISs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1rkTghHlQSyBHR2krcpkuW7nzqcclDUYbDt5VgcDybyw/edit?gid=151371822#gid=151371822",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 151371822,
          "mode": "list",
          "cachedResultName": "Realisasi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rkTghHlQSyBHR2krcpkuW7nzqcclDUYbDt5VgcDybyw/edit#gid=151371822"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nama": "={{ $json.Nama }}",
            "NIK": "={{ $json.NIK }}",
            "ID Unik": "={{ $('Realisasi').item.json['ID Unik'] }}",
            "Catatan Singkat": "={{ $('Realisasi').item.json['Catatan Singkat'] }}",
            "Bukti": "={{ $('Realisasi').item.json.Bukti }}"
          },
          "matchingColumns": [
            "ID Unik"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID Unik",
              "displayName": "ID Unik",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nama",
              "displayName": "Nama",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NIK",
              "displayName": "NIK",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Catatan Singkat",
              "displayName": "Catatan Singkat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bukti",
              "displayName": "Bukti",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        2128
      ],
      "id": "abf35b68-32cd-4331-a662-dd9db557b3cf",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zLMvsQO2RHZ3eISs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4725465c-1642-4715-83ff-535dffba38e5",
              "leftValue": "={{ $json['ID Unik'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        16,
        2144
      ],
      "id": "7d04e36f-7c05-4c07-8989-7aa452e4618d",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d76faa62-6b5c-48b1-bf03-7ba26b01dc31",
              "leftValue": "={{ $json['Status Atasan'] }}",
              "rightValue": "Ditolak",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -16,
        1472
      ],
      "id": "7a79ab78-ba41-4112-84bf-32603c76b418",
      "name": "If2"
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"Email Address\"] }}",
        "subject": "=Status Pengajuan Izin",
        "message": "=<div style=\"\n  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n  max-width: 600px;\n  margin: 0 auto;\n  border: 1px solid #e0e0e0;\n  border-radius: 8px;\n  overflow: hidden;\n  background-color: #ffffff;\n\">\n\n  <!-- Header -->\n  <div style=\"\n    background-color: #f8f9fa;\n    padding: 20px;\n    text-align: center;\n    border-bottom: 1px solid #e0e0e0;\n  \">\n    <h2 style=\"margin: 0; color: #333;\">\n      Update Status Pengajuan Izin\n    </h2>\n  </div>\n\n  <!-- Content -->\n  <div style=\"padding: 30px; line-height: 1.6; color: #444;\">\n\n    <p>\n      Halo <strong>{{ $json.Nama }}</strong>,\n    </p>\n\n    <p>\n      Terima kasih telah menunggu. Kami ingin menginformasikan bahwa\n      pengajuan Anda yang dikirim pada\n      <strong>{{ $json.Timestamp }}</strong>\n      telah selesai ditinjau oleh <strong>Atasan dan HR</strong>.\n    </p>\n\n    <!-- Divider -->\n    <div style=\"border-top: 1px solid #e0e0e0; margin: 25px 0;\"></div>\n\n    <!-- Status -->\n    <div style=\"\n      padding: 16px;\n      text-align: center;\n      border-radius: 6px;\n      background-color: {{ $json[\"Status Atasan\"] == \"Ditolak\" ? \"#f8d7da\" : \"#d4edda\" }};\ncolor: {{ $json[\"Status Atasan\"] == \"Ditolak\" ? \"#721c24\" : \"#155724\" }};\n\n      font-size: 20px;\n      font-weight: bold;\n      border: 1px solid #e0e0e0;\n    \">\n      {{ $json[\"Status Atasan\"] }}\n    </div>\n\n    <!-- Divider -->\n    <div style=\"border-top: 1px solid #e0e0e0; margin: 25px 0;\"></div>\n\n    <!-- Detail -->\n    <table style=\"width: 100%; border-collapse: collapse;\">\n      <tr>\n        <td style=\"padding: 10px 0; color: #888; border-bottom: 1px solid #eee;\">\n          ID Form Pengajuan Izin\n        </td>\n        <td style=\"padding: 10px 0; text-align: right; font-weight: bold; border-bottom: 1px solid #eee;\">\n          {{ $json[\"ID Unik\"] }}\n        </td>\n      </tr>\n    </table>\n\n    <p style=\"margin-top: 20px; font-size: 14px; color: #666;\">\n      Silakan gunakan <strong>ID Form Pengajuan Izin</strong> di atas\n      untuk mengisi ID pada <strong>Form Realisasi</strong>.\n    </p>\n  </div>\n\n  <!-- Footer -->\n  <div style=\"\n    background-color: #f8f9fa;\n    padding: 15px;\n    text-align: center;\n    font-size: 12px;\n    color: #999;\n    border-top: 1px solid #e0e0e0;\n  \">\n    Jika Anda memiliki pertanyaan lebih lanjut,\n    silakan hubungi Atasan.\n  </div>\n\n</div>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        224,
        1456
      ],
      "id": "7316842a-025f-4449-91c7-158179c17713",
      "name": "Send a message7",
      "webhookId": "9a976c10-1fa1-4f61-9c07-0d25a17ad5aa",
      "credentials": {
        "gmailOAuth2": {
          "id": "1i57zt2Zt8e79q32",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "10a95b0b-0dbb-4297-a9b8-a9846f149b47",
              "leftValue": "={{ $json['Status HR'] }}",
              "rightValue": "Ditolak",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        1872
      ],
      "id": "63b769f8-9b61-4633-a2f1-5215bdddb086",
      "name": "If4"
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"Email Address\"] }}",
        "subject": "=Status Pengajuan Izin",
        "message": "=<div style=\"\n  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n  max-width: 600px;\n  margin: 0 auto;\n  border: 1px solid #e0e0e0;\n  border-radius: 8px;\n  overflow: hidden;\n  background-color: #ffffff;\n\">\n\n  <!-- Header -->\n  <div style=\"\n    background-color: #f8f9fa;\n    padding: 20px;\n    text-align: center;\n    border-bottom: 1px solid #e0e0e0;\n  \">\n    <h2 style=\"margin: 0; color: #333;\">\n      Update Status Pengajuan Izin\n    </h2>\n  </div>\n\n  <!-- Content -->\n  <div style=\"padding: 30px; line-height: 1.6; color: #444;\">\n\n    <p>\n      Halo <strong>{{ $json.Nama }}</strong>,\n    </p>\n\n    <p>\n      Terima kasih telah menunggu. Kami ingin menginformasikan bahwa\n      pengajuan Anda yang dikirim pada\n      <strong>{{ $json.Timestamp }}</strong>\n      telah selesai ditinjau oleh <strong>Atasan dan HR</strong>.\n    </p>\n\n    <!-- Divider -->\n    <div style=\"border-top: 1px solid #e0e0e0; margin: 25px 0;\"></div>\n\n    <!-- Status -->\n    <div style=\"\n      padding: 16px;\n      text-align: center;\n      border-radius: 6px;\n      background-color: {{ $json[\"Status HR\"] == \"Ditolak\" ? \"#f8d7da\" : \"#d4edda\" }};\ncolor: {{ $json[\"Status HR\"] == \"Ditolak\" ? \"#721c24\" : \"#155724\" }};\n\n      font-size: 20px;\n      font-weight: bold;\n      border: 1px solid #e0e0e0;\n    \">\n      {{ $json[\"Status HR\"] }}\n    </div>\n\n    <!-- Divider -->\n    <div style=\"border-top: 1px solid #e0e0e0; margin: 25px 0;\"></div>\n\n    <!-- Detail -->\n    <table style=\"width: 100%; border-collapse: collapse;\">\n      <tr>\n        <td style=\"padding: 10px 0; color: #888; border-bottom: 1px solid #eee;\">\n          ID Form Pengajuan Izin\n        </td>\n        <td style=\"padding: 10px 0; text-align: right; font-weight: bold; border-bottom: 1px solid #eee;\">\n          {{ $json[\"ID Unik\"] }}\n        </td>\n      </tr>\n    </table>\n\n    <p style=\"margin-top: 20px; font-size: 14px; color: #666;\">\n      Silakan gunakan <strong>ID Form Pengajuan Izin</strong> di atas\n      untuk mengisi ID pada <strong>Form Realisasi</strong>.\n    </p>\n  </div>\n\n  <!-- Footer -->\n  <div style=\"\n    background-color: #f8f9fa;\n    padding: 15px;\n    text-align: center;\n    font-size: 12px;\n    color: #999;\n    border-top: 1px solid #e0e0e0;\n  \">\n    Jika Anda memiliki pertanyaan lebih lanjut,\n    silakan hubungi bagian HR.\n  </div>\n\n</div>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        1856
      ],
      "id": "db8796dd-c384-4d86-a72e-e9a421dfe60c",
      "name": "Send a message8",
      "webhookId": "9a976c10-1fa1-4f61-9c07-0d25a17ad5aa",
      "credentials": {
        "gmailOAuth2": {
          "id": "1i57zt2Zt8e79q32",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          },
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pemohon": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HR": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atasan": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        []
      ]
    },
    "Realisasi": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Send a message7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Send a message8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "b701132f-5a47-4681-9306-d7eb8e966609",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "740594f04ee0024549a95f1392aee55a75d8d99e153c07d16330b9eccf8fbd55"
  },
  "id": "-41vF0o3O4cHeL7X_ve1D",
  "tags": []
}